altgraph==0.17.4
comtypes==1.4.10
Cython==3.0.12
numpy==2.2.4
packaging==24.2
pefile==2023.2.7
psutil==7.0.0
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.2
PyQt6==6.8.1
PyQt6-Qt6==6.8.2
PyQt6-WebEngine==6.8.0
PyQt6-WebEngine-Qt6==6.8.2
PyQt6_sip==13.10.0
pywifi==1.1.12
pywin32-ctypes==0.2.3
QtAwesome==1.4.0
QtPy==2.4.3
setuptools==78.1.0
