body {
    --sb-track-color: #182234;
    --sb-thumb-color: #293b5a;
    --sb-size: 8px;
    --accent-color: #3b82f6;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color);
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}
