/* Header */
QHeaderView::section {
    background: rgb(31, 39, 56);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    border: 0.5px solid snow;
}
