/* Output Box Success */
QTextEdit {
    background-color: #0c4e22;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    padding: 4px;
    border: none;
    border-radius: 4px;
    border: 2px solid transparent;
}

/* Hide all scrollbars */
QScrollBar {
    width: 0px;
    height: 0px;
    background: transparent;
}
