/* Show Password */
QCheckBox {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-weight: 700;
    color: #e0e0e0;
}

QCheckBox:focus {
    background-color: transparent;
    color: rgba(255, 219, 115, 0.9);
    outline: none;
}
